# Use local urls for running e2e tests in github workflows
FRONTEND_URL=http://localhost:5173/
BACKEND_URL=http://localhost:8080/api
# Necessary to create test user in clerk dashboard and seed the cmapaign data that the tests will use
# to that userId (can be also obtained in clerk dashboard)
E2E_CLERK_USER_USERNAME=
E2E_CLERK_USER_PASSWORD=

#Can obtain the values below in clerk dashboard
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_FRONTEND_API_URL=