@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --page-container-bg: #e8f3f8;
  --page-container-bg-darker: #cbe0eb;
  --page-container-bg-darkerer: #6c9cb0;
  --page-container-bg-darkest: #2b4c59;
  --page-container-border: #98c2d1;
  --light-text: #ffffff;
  --dark-text: #0a1316;
  --site-bg: #b1d0da;

  --action-positive-bg: #7af2d1;
  --action-positive-foreground: var(--dark-text);
  --battle-victory-bg: var(--action-positive-bg);
  --battle-victory-foreground: var(--action-positive-foreground);
  --battle-defeat-bg: #f59aa0;
  --battle-defeat-foreground: var(--light-text);
  --creation-color: var(--action-positive-bg);
  --unavailable-color: var(--battle-defeat-bg);
  --unavailable-color-border: #c73642;
  --highlight-color: #fff89a;
  --highlight-color-border: #c7b600;
  --information-color: #9ed5ff;
  --information-color-border: #1e65a9;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

body {
  background-color: var(--site-bg);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 12s linear infinite;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.rarity-1,
.rarity-2,
.rarity-3,
.rarity-4,
.rarity-5 {
  position: relative;
  overflow: hidden;
}

/* Rarity 1 - weakest */
.rarity-1::before {
  filter: blur(80px);
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 95%,
    rgba(255, 230, 0, 0.05)
  );
  transform: rotate(-45deg);
  transition: all 1s ease-in-out;
  opacity: 0;
}

/* Rarity 2 */
.rarity-2::before {
  filter: blur(80px);
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 75%,
    rgba(255, 230, 0, 0.15)
  );
  transform: rotate(-45deg);
  transition: all 1s ease-in-out;
  opacity: 0;
}

/* Rarity 3 */
.rarity-3::before {
  filter: blur(80px);
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 50%,
    rgba(255, 230, 0, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 1s ease-in-out;
  opacity: 0;
}

/* Rarity 4 */
.rarity-4::before {
  filter: blur(80px);
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 25%,
    rgba(255, 230, 0, 0.45)
  );
  transform: rotate(-45deg);
  transition: all 1s ease-in-out;
  opacity: 0;
}

/* Rarity 5 - strongest */
.rarity-5::before {
  filter: blur(80px);
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 5%,
    rgba(255, 230, 0, 0.55)
  );
  transform: rotate(-45deg);
  transition: all 1s ease-in-out;
  opacity: 0;
}

/* Hover effect for all */
.rarity-1:hover::before,
.rarity-2:hover::before,
.rarity-3:hover::before,
.rarity-4:hover::before,
.rarity-5:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.rarity-1:hover::before,
.rarity-2:hover::before,
.rarity-3:hover::before,
.rarity-4:hover::before,
.rarity-5:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.hover-zoom {
  transition: transform 0.1s ease;
}

.hover-zoom:hover {
  transform: scale(1.02);
}

.character-tier-5-rarity-5 {
  box-shadow: 0px 0px 25px 25px rgba(17, 0, 255, 0.6);
  border-radius: 20px;
}

.character-tier-5 {
  box-shadow: 0px 0px 20px 8px rgba(17, 0, 255, 0.6);
  border-radius: 20px;
}

.character-tier-4 {
  box-shadow: 0px 0px 20px 6px rgba(17, 0, 255, 0.5);
  border-radius: 20px;
}

.character-tier-3 {
  box-shadow: 0px 0px 20px 4px rgba(17, 0, 255, 0.4);
  border-radius: 20px;
}

.character-tier-2 {
  box-shadow: 0px 0px 18px 3px rgba(17, 0, 255, 0.3);
  border-radius: 20px;
}

.character-tier-1 {
  box-shadow: 0px 0px 15px 2px rgba(17, 0, 255, 0.2);
  border-radius: 20px;
}

/* --- ARMOR --- */
.armor-tier-5-rarity-5 {
  box-shadow: 0px 0px 25px 25px rgba(179, 178, 204, 0.6);
  border-radius: 20px;
}

.armor-tier-5 {
  box-shadow: 0px 0px 20px 8px rgba(179, 178, 204, 0.6);
  border-radius: 20px;
}

.armor-tier-4 {
  box-shadow: 0px 0px 20px 6px rgba(179, 178, 204, 0.5);
  border-radius: 20px;
}

.armor-tier-3 {
  box-shadow: 0px 0px 18px 4px rgba(179, 178, 204, 0.4);
  border-radius: 20px;
}

.armor-tier-2 {
  box-shadow: 0px 0px 16px 3px rgba(179, 178, 204, 0.3);
  border-radius: 20px;
}

.armor-tier-1 {
  box-shadow: 0px 0px 14px 2px rgba(179, 178, 204, 0.2);
  border-radius: 20px;
}

/* --- BOOTS --- */
.boot-tier-5-rarity-5 {
  box-shadow: 0px 0px 25px 25px rgba(158, 99, 9, 0.6);
  border-radius: 20px;
}

.boot-tier-5 {
  box-shadow: 0px 0px 20px 8px rgba(158, 99, 9, 0.6);
  border-radius: 20px;
}

.boot-tier-4 {
  box-shadow: 0px 0px 20px 6px rgba(158, 99, 9, 0.5);
  border-radius: 20px;
}

.boot-tier-3 {
  box-shadow: 0px 0px 18px 4px rgba(158, 99, 9, 0.4);
  border-radius: 20px;
}

.boot-tier-2 {
  box-shadow: 0px 0px 16px 3px rgba(158, 99, 9, 0.3);
  border-radius: 20px;
}

.boot-tier-1 {
  box-shadow: 0px 0px 14px 2px rgba(158, 99, 9, 0.2);
  border-radius: 20px;
}

/* --- CONSUMABLES --- */
.consumable-tier-5-rarity-5 {
  box-shadow: 0px 0px 25px 25px rgba(122, 255, 142, 0.6);
  border-radius: 20px;
}

.consumable-tier-5 {
  box-shadow: 0px 0px 20px 8px rgba(122, 255, 142, 0.6);
  border-radius: 20px;
}

.consumable-tier-4 {
  box-shadow: 0px 0px 20px 6px rgba(122, 255, 142, 0.5);
  border-radius: 20px;
}

.consumable-tier-3 {
  box-shadow: 0px 0px 18px 4px rgba(122, 255, 142, 0.4);
  border-radius: 20px;
}

.consumable-tier-2 {
  box-shadow: 0px 0px 16px 3px rgba(122, 255, 142, 0.3);
  border-radius: 20px;
}

.consumable-tier-1 {
  box-shadow: 0px 0px 14px 2px rgba(122, 255, 142, 0.2);
  border-radius: 20px;
}

/* --- HELMETS --- */
.helmet-tier-5-rarity-5 {
  box-shadow: 0px 0px 25px 25px rgba(255, 242, 0, 0.6);
  border-radius: 20px;
}

.helmet-tier-5 {
  box-shadow: 0px 0px 20px 8px rgba(255, 242, 0, 0.6);
  border-radius: 20px;
}

.helmet-tier-4 {
  box-shadow: 0px 0px 20px 6px rgba(255, 242, 0, 0.5);
  border-radius: 20px;
}

.helmet-tier-3 {
  box-shadow: 0px 0px 18px 4px rgba(255, 242, 0, 0.4);
  border-radius: 20px;
}

.helmet-tier-2 {
  box-shadow: 0px 0px 16px 3px rgba(255, 242, 0, 0.3);
  border-radius: 20px;
}

.helmet-tier-1 {
  box-shadow: 0px 0px 14px 2px rgba(255, 242, 0, 0.2);
  border-radius: 20px;
}

/* --- SHIELDS --- */
.shield-tier-5-rarity-5 {
  box-shadow: 0px 0px 25px 25px rgba(245, 152, 12, 0.6);
  border-radius: 20px;
}

.shield-tier-5 {
  box-shadow: 0px 0px 20px 8px rgba(245, 152, 12, 0.6);
  border-radius: 20px;
}

.shield-tier-4 {
  box-shadow: 0px 0px 20px 6px rgba(245, 152, 12, 0.5);
  border-radius: 20px;
}

.shield-tier-3 {
  box-shadow: 0px 0px 18px 4px rgba(245, 152, 12, 0.4);
  border-radius: 20px;
}

.shield-tier-2 {
  box-shadow: 0px 0px 16px 3px rgba(245, 152, 12, 0.3);
  border-radius: 20px;
}

.shield-tier-1 {
  box-shadow: 0px 0px 14px 2px rgba(245, 152, 12, 0.2);
  border-radius: 20px;
}

/* --- SPELLS --- */
.spell-tier-5-rarity-5 {
  box-shadow: 0px 0px 25px 25px rgba(187, 0, 204, 0.6);
  border-radius: 20px;
}

.spell-tier-5 {
  box-shadow: 0px 0px 20px 8px rgba(187, 0, 204, 0.6);
  border-radius: 20px;
}

.spell-tier-4 {
  box-shadow: 0px 0px 20px 6px rgba(187, 0, 204, 0.5);
  border-radius: 20px;
}

.spell-tier-3 {
  box-shadow: 0px 0px 18px 4px rgba(187, 0, 204, 0.4);
  border-radius: 20px;
}

.spell-tier-2 {
  box-shadow: 0px 0px 16px 3px rgba(187, 0, 204, 0.3);
  border-radius: 20px;
}

.spell-tier-1 {
  box-shadow: 0px 0px 14px 2px rgba(187, 0, 204, 0.2);
  border-radius: 20px;
}

/* --- WEAPONS --- */
.weapon-tier-5-rarity-5 {
  box-shadow: 0px 0px 25px 25px rgba(245, 12, 12, 0.6);
  border-radius: 20px;
}

.weapon-tier-5 {
  box-shadow: 0px 0px 20px 8px rgba(245, 12, 12, 0.6);
  border-radius: 20px;
}

.weapon-tier-4 {
  box-shadow: 0px 0px 20px 6px rgba(245, 12, 12, 0.5);
  border-radius: 20px;
}

.weapon-tier-3 {
  box-shadow: 0px 0px 18px 4px rgba(245, 12, 12, 0.4);
  border-radius: 20px;
}

.weapon-tier-2 {
  box-shadow: 0px 0px 16px 3px rgba(245, 12, 12, 0.3);
  border-radius: 20px;
}

.weapon-tier-1 {
  box-shadow: 0px 0px 14px 2px rgba(245, 12, 12, 0.2);
  border-radius: 20px;
}

.loader {
  width: 13px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #514b82;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
